<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />

    <!-- FONTAWESOME -->
    <script
      src="https://kit.fontawesome.com/d651fc4f2d.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/css/style.css" />

    <title>Mercado Liebre</title>
  </head>
  <body class="flx-col-nowrap">
    <header class="flx-col-nowrap">
      <section class="flx-row-wrap">
        <section class="logo-container flx-row-nowrap">
          <a href="/">
            <img class="logo-img" src="img/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre"/>
          </a>
          <div class="search-box flx-row-nowrap">
            <input type="text" name="" id="searcher" placeholder="Buscar productos, marca"/>
            <label class="flx-row-nowrap" for="searcher">
              <i class="fa-solid fa-magnifying-glass"></i>
            </label>
          </div>
        </section>
        <div class="txt-cuota flx-row-nowrap">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          <h4>Comprá en cuotas y sin tarjeta de crédito</h4>
        </div>
      </section>
      <input type="checkbox" name="hamburguer-menu" id="hamburguer-menu" />
      <div class="hamburguer-menu flx-col-nowrap">
        <div></div>
      </div>
      <nav class="header-nav">
        <ul class="product-category">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="count-category">
          <li>
            <a href="/register">Creá tu cuenta</a>
            <i class="fa-regular fa-address-card"></i>
          </li>
          <li>
            <a href="/login">Ingresá</a>
            <i class="fa-solid fa-right-to-bracket"></i>
          </li>
          <li>
            <a href="#">Mis compras</a>
            <i class="fa-solid fa-basket-shopping"></i>
          </li>
        </ul>
      </nav>
    </header>
    <img src="img/img-home-banner.jpg" alt="banner" class="banner-container" />
    <main class="flx-row-wrap">
      <h2 class="flx-row-wrap">Basado en tu última visita</h2>
      <section class="section-lastView flx-row-wrap"></section>
      <h2 class="flx-row-wrap">Ofertas</h2>
      <section class="section-ofertas flx-row-wrap"></section>
    </main>
    <footer class="flx-col-nowrap">
      <section class="flx-col-nowrap">
        <i class="fa-solid fa-credit-card"></i>
        <h3>Pagá con tarjeta en efectivo</h3>
        <p>
          Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo
          en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section class="flx-col-nowrap">
        <i class="fa-solid fa-gift"></i>
        <h3>Envío gratis desde los $2.500</h3>
        <p>
          Solo por estar registrado en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <section class="flx-col-nowrap">
        <i class="fa-solid fa-user-shield"></i>
        <h3>Seguridad de principio a fin</h3>
        <p>
          ¿No te gusta? ¿Devolvelo! En MercadoLiebre no hay nada que no puedas
          hacer porque estás siempre protegid@.
        </p>
      </section>
      <span>Copyright &copy; 1999-2020 MercadoLiebre S.R.L.</span>
    </footer>
    <script type="module" src="/js/product-controller"></script>
  </body>
</html>
