<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs")  %>
    <link rel="stylesheet" href="/css/forms.css" />
  </head>
  <body class="flx-row-wrap">

    <!-- header -->
    <%- include("./partials/header.ejs")  %>

    <!-- main -->
    <article class="beside flx-col-nowrap">
      <img src="/img/logo-mercado-liebre.svg" alt="logo image" id="logo-beside">
    </article>
    <main class="flx-col-wrap">
        <form class="register-form flx-col-wrap" action="/login-form" method="post">
          
          <div class="profile-img-section flx-col-wrap">
            <div class="profile-img-container">
              <img src="/img/user-img.svg" alt="user-image" id="profile-img">
            </div>
          </div>

          <h3 class="personal-info-tittle">Log In</h3>

          <div class="input-container flx-col-wrap" id="user-name-conatiner">
            <input class="input-config" type="text" name="userName" id="user-Name" required>
            <label class="label-config user-name-label" for="user-Name">Nombre de Usuario</label>
          </div>
          <div class="input-container flx-col-wrap" id="user-password-conatiner">
            <input class="input-config" type="password" name="password" id="user-password" required>
            <label class="label-config user-password-label" for="user-password">Contraseña</label>
          </div>

          <section class="option-container flx-row-wrap">
            <div class="rememberme-container interest-container flx-row-nowrap">
              <input type="checkbox" class="interest-input"name="userinterest" id="rememberme-button" value="remember">
              <label class="interest-label" for="rememberme-button">Remember Me</label>
              <div class="iterests-button flx-row-nowrap">
                <div></div>
              </div>
            </div>
            <div class="forgot-container">
              <a href="#">Forgot Password?</a>
            </div>

          </section>
 
          <div class="input-container flx-row-nowrap" id="forms-bts-container">
            <button  type="submit" id="login-btn">Ingresar</button>
          </div>

        </form>
    </main>

    <!-- footer -->
    <%- include("./partials/footer.ejs") %>

    <script type="module" src="/js/product-controller"></script>
  </body>
</html>
 