<footer class="flx-col-nowrap">
    <section class="foot-section flx-col-nowrap">
      <i class="fa-solid fa-credit-card"></i>
      <h3>Pagá con tarjeta en efectivo</h3>
      <p>
        Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo
        en puntos de pago. ¡Y siempre es seguro!
      </p>
    </section>
    <section class="foot-section flx-col-nowrap">
      <i class="fa-solid fa-gift"></i>
      <h3>Envío gratis desde los $2.500</h3>
      <p>
        Solo por estar registrado en Mercado Liebre tenés envíos gratis en
        miles de productos. Es un beneficio de Mercado Puntos.
      </p>
    </section>
    <section class="foot-section flx-col-nowrap">
      <i class="fa-solid fa-user-shield"></i>
      <h3>Seguridad de principio a fin</h3>
      <p>
        ¿No te gusta? ¿Devolvelo! En MercadoLiebre no hay nada que no puedas
        hacer porque estás siempre protegid@.
      </p>
    </section>
    <span>Copyright &copy; 1999-2020 MercadoLiebre S.R.L.</span>
  </footer>