<header class="flx-col-nowrap">
    <section class="flx-row-wrap">
      <section class="logo-container flx-row-nowrap">
        <a href="/">
          <img class="logo-img" src="/img/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre"/>
        </a>
        <form action="#" method="get" class="search-box flx-row-wrap">
          <label class="flx-row-nowrap" for="searcher">
            <input type="text" name="" id="searcher" placeholder="Buscar productos, marca"/>
            <button type="submit" class="flx-row-wrap">
              <i class="fa-solid fa-magnifying-glass flx-row-wrap"></i>
            </button>
          </label>
        </form>
      </section>
      <div class="txt-cuota flx-row-nowrap">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        <h4>Comprá en cuotas y sin tarjeta de crédito</h4>
      </div>
    </section>
    <input type="checkbox" name="hamburguer-menu" id="hamburguer-menu" />
    <div class="hamburguer-menu flx-col-nowrap">
      <div></div>
    </div>
    <nav class="header-nav">
      <ul class="product-category">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
      <ul class="count-category">
        <li>
          <a href="/register">Creá tu cuenta</a>
          <i class="fa-regular fa-address-card"></i>
        </li>
        <li>
          <a href="/login">Ingresá</a>
          <i class="fa-solid fa-right-to-bracket"></i>
        </li>
        <li>
          <a href="#">Mis compras</a>
          <i class="fa-solid fa-basket-shopping"></i>
        </li>
      </ul>
    </nav>
  </header>